version: '2'
services:
        diamondpredict:
                image: diamondpredict
                command: /plumber.R
                restart: "no"
        nginx:
                image: nginx:1.9
                ports:
                        - "80:80"
                volumes:
                        - ./nginx.conf:/etc/nginx/nginx.conf:ro
                        - ./.htpasswd:/etc/apache2/.htpasswd:ro
                restart: "no"
                depends_on:
                        - diamondpredict
