on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: Render-slides

jobs:
  Render-slides:
    name: Render slides
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - uses: r-lib/actions/setup-tinytex@v1
      - name: Install rmarkdown
        run: Rscript -e 'install.packages("rmarkdown")'
      - name: Render my document to all types
        run: Rscript -e 'rmarkdown::render("docs/index.Rmd", output_format = "all")'
      - name: Commit results
        run: |
            git add docs/index*
            git commit -m 'Re-build slides' || echo "No changes to commit"
            git push origin || echo "No changes to commit"

